* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--light-gray);
  font-size: 17px;
}
:root {
  --gray: rgb(100, 97, 97);
  --light-gray: rgba(100, 97, 97, 0.2);
  --white: rgb(250, 250, 250);
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 10px;
  align-items: center;
}
.header-left-div {
  display: inline;
  font-size: 1.2rem;
}
#header-center-div nav a {
  padding: 7px 4px;
  border-radius: 2px;
  display: inline-flex;
  justify-content: space-around;
  margin: 0 10px;
  text-transform: capitalize;
  color: var(--gray);
}
#header-center-div nav :hover {
  background-color: var(--gray);
  color: var(--white);
  transition: 0.2s;
}
#header-center-div #hide-header-menu-btn {
  display: none;
}
#header-right-div .header-hide-icon {
  display: none;
}
#header-right-div i {
  display: inline-flex;
  padding: 10px;
  margin: 0 2px;
  background-color: darkgray;
  border-radius: 50%;
}
#header-right-div i {
  cursor: pointer;
  color: black;
  font-size: 1rem;
}
#header-right-div i:hover {
  transform: rotate(360deg);
  background-color: black;
  color: var(--white);
  transition: 0.2s;
}
.search-form {
  position: absolute;
  top: -110%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}
.search-form-activ {
  top: 0;
  transition: 0.3s;
}
#search-form input {
  width: 300px;
  height: 50px;
  background: none;
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
  border: none;
  color: var(--white);
  border-bottom: 2px white solid;
}
#search-form label {
  color: var(--white);
  font-size: 2.5rem;
  margin-left: -55px;
  color: var(--white);
  cursor: pointer;
}
#search-form label:hover {
  color: black;
  transition: 0.2s;
}
/* -----------slider------------- */
html,
    body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      height: 700px;
      top: 80px;
    }
    .swiper img{
      width: 400px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    #spagetti img{
      width: 700px;
    }



























@media screen and (max-width: 780px) {
  #header-center-div #hide-header-menu-btn {
    display: block;
    transition: 0.5s;
    background-color: var(--white);
    color: black;
  }
  #header-left-div h1 {
    font-size: 1.5rem;
  }
  #header-center-div nav a {
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--gray);
    color: var(--white);
  }
  #header-center-div nav {
    z-index: 999;
    position: absolute;
    right: 0;
    left: 0;
    top: 86%;
    text-align: center;
    margin: 5px 0;
    background-color: black;
  }
  #header-right-div i {
    font-size: 0.8rem;
    padding: 8px;
    margin: 0;
  }
  #header-right-div .header-hide-icon {
    display: inline-flex;
  }
}
